<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title" style="color:blue;">
            <strong>
                BẢO HÀNH
            </strong>
        </h3>
    </div>
    <div class="panel-body">
        <p><strong>1.  Quy định bảo hành mở rộng ( BHMR ):</strong>  </p>
        <p>
            - Các sản phẩm mua BHMR sẽ được bảo hành giống các quy định bảo hành máy chính hãng là được bảo hành thêm camera, Màn hình, Cảm ứng, Ổ Cứng và Cảm biến dấu vân tay. <br />
            - Các điều kiện từ chối BHMR giống với các điều kiện từ chối bảo hành trong quy định bảo hành thông thường của Bkspeaker.<br />
            - Quý khách vui lòng đem theo phiếu BHMR để hưởng các quyền lợi của BHMR, trong trường hợp không có phiếu BHMR thì các quyền lợi của BHMR sẽ không được áp dụng.<br />
        </p>

        <strong>2.  Bảng giá:</strong>    <br />
        <table class="table table-bordered" style="text-align:center">
            <tr>
                <td>
                    <strong>Giá trị sản phẩm</strong>
                </td>
                <td>
                    <strong>12 tháng</strong>
                </td>
            </tr>
            <tr>
                <td>
                    0 - 2.900.000
                </td>
                <td>
                    199.000
                </td>
            </tr>
            <tr>
                <td>
                    3.000.000 - 5.900.000
                </td>
                <td>
                    299.000
                </td>
            </tr>
            <tr>
                <td>
                    6.000.000 - 9.990.000
                </td>
                <td>
                    449.000
                </td>
            </tr>
            <tr>
                <td>
                    10.000.000 - 14.990.000
                </td>
                <td>
                    499.000
                </td>
            </tr>
            <tr>
                <td>
                    15.000.000 - 19.990.000
                </td>
                <td>
                    549.000
                </td>
            </tr>
            <tr>
                <td>
                    trên 20.000.000
                </td>
                <td>
                    599.000
                </td>
            </tr>
        </table>

        Để tìm hiểu chi tiết hơn về dịch vụ này, quý khách vui lòng liên hệ nhân viên bán hàng tại cửa hàng để được tư vấn thêm, hoặc gọi số Hotline : 19001001

    </div>


</div>
