
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title" style="color:blue;">
            <strong>
                KHUYẾN MÃI
            </strong>
        </h3>
    </div>
    <div class="panel-body">
        <p><strong>Appel iPod</strong></p>
        <table class="table table-bordered">
            <tr>
                <td>
                    Ipod Shuffle - 2GB Xám <br />
                </td>
                <td>
                    Tặng dán màn hình cao cấp trị giá 50.000 VND
                </td>
                <td>
                    Giá: 1.490.000 VND
                </td>
            </tr>
            <tr>
                <td>
                    Ipod Nano Gen 7th - 16GB <br />
                </td>
                <td>
                    Tặng dán màn hình cao cấp trị giá 50.000 VND
                </td>
                <td>
                    Giá: 3.000.000 VND
                </td>
            </tr>
            <tr>
                <td>
                    IIPod Touch 5th Gen – 32GB <br />
                </td>
                <td>
                    Tặng dán màn hình cao cấp trị giá 50.000 VND <br />
                    Tặng Sim 3g Mobifone tài khoản data khuyến mãi 450.000 VND
                </td>
                <td>
                    Giá: 7.300.000 VND
                </td>
            </tr>

        </table>
        <p><strong>Sony</strong></p>
        <table class="table table-bordered">
            <tr>
                <td>
                    SONY NWZ -E383BC E
                </td>
                <td>
                    Tặng dán màn hình cao cấp trị giá 50.000 VND <br />
                    Tặng Sim 3g Mobifone tài khoản data khuyến mãi 450.000 VND
                </td>
                <td>
                    Giá: 2.490.000 VND
                </td>
            </tr>
            <tr>
                <td>
                    SONY NWZ -WH303BME
                </td>
                <td>
                    Tặng dán màn hình cao cấp trị giá 50.000 VND <br />
                    Tặng Sim 3g Mobifone tài khoản data khuyến mãi 450.000 VND
                </td>
                <td>
                    Giá: 2.190.000 VND
                </td>
            </tr>
            <tr>
                <td>
                    SONY NWZ-W273SDME
                </td>
                <td>
                    Tặng dán màn hình cao cấp trị giá 50.000 VND <br />
                    Tặng Sim 3g Mobifone tài khoản data khuyến mãi 450.000 VND
                </td>
                <td>
                    Giá: 1.990.000 VND
                </td>
            </tr>

        </table>
        <p><strong>FiiO </strong></p>
        <table class="table table-bordered">
            <tr>
                <td>
                    FiiO E11
                </td>
                <td>
                    Tặng dán màn hình cao cấp trị giá 50.000 VND
                </td>
                <td>
                    Giá: 1.449.000 VND
                </td>
            </tr>
            <tr>
                <td>
                    FiiO X1
                </td>
                <td>
                    Tặng dán màn hình cao cấp trị giá 50.000 VND
                </td>
                <td>
                    Giá: 2.449.000 VND
                </td>
            </tr>
            <tr>
                <td>
                    FiiO X5
                </td>
                <td>
                    Tặng dán màn hình cao cấp trị giá 50.000 VND <br />
                    Tặng Sim 3g Mobifone tài khoản data khuyến mãi 450.000 VND
                </td>
                <td>
                    Giá: 8.000.000 VND
                </td>
            </tr>

        </table>
    </div>


</div>
