<script src="http://maps.googleapis.com/maps/api/js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">

<script>

    var myCenter = new google.maps.LatLng(10.771908, 106.657736);
    var marker;

    function initialize() {
        var mapProp = {
            center: myCenter,
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

        var marker = new google.maps.Marker({
            position: myCenter,
            animation: google.maps.Animation.BOUNCE
        });

        marker.setMap(map);
    }

    google.maps.event.addDomListener(window, 'load', initialize);

</script>

<div id="googleMap" style="width: 100%; height: 400px;"></div>